#banner {
     max-width: 422px;
     margin: 0 auto;
     margin-bottom: 8px;
}

#custombannerimg-wide {
     display: none;
}

.header-links {
     text-align: left;
}

.header-links a, .header-links a:visited {
     color: white;
     text-decoration: none;
}

.header-links a:hover, .header-links a:active {
     text-decoration: underline;
}

@media only screen and
(min-width: 650px) {

     #banner {
          max-width: 727px;
     }

     #custombannerimg-narrow {
          display: none;
     }

     #custombannerimg-wide {
          display: inherit;
     }
}
